.article-highlighted {
  @extend %generic-margin-bottom;
  @extend %generic-padding-bottom;
  @extend %generic-padding-top;
  background-color: var(--color-dark-sand);

  .card {
    grid-column: 1/-1;

    @include from(tablet) {
      grid-column: 2/12;
    }

    @include from(desktop-l) {
      grid-column: 3/11;
    }
  }

  .card__content-wrapper {
    @include subgrid(4, 10, 10);

    @include from (desktop-l) {
      grid-template-columns: repeat(8, minmax(0, 1fr));
    }

    & > *{
      grid-column: 1/-1;

      @include from(tablet) {
        grid-column: 1/10;
      }

      @include from(desktop) {
        grid-column: 1/9;
      }

      @include from(desktop-l) {
        grid-column: 1/7;
      }
    }
  }
}
