.video {
  overflow: hidden;
  position: relative;

  @media (prefers-reduced-motion: reduce) {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%) !important;
    transform: none !important;
  }

  @include upto(desktop) {
    .content-background {
      .facts.light {
        background-color: var(--color-dark-sand);
      }
    }
  }

  &-wrapper {
    position: relative;
  }

  &__content {
    padding: 0 var(--margin-mobile);
    transform: none;
  }

  &__background {
    display: block;
    min-height: 400px;
    object-fit: cover;
    width: 100%;
    z-index: -1;

    @media (prefers-reduced-motion: reduce) {
      object-position: 50% 50% !important;
      transform: none !important;
    }
  }

  &[data-has-animation] {
    .video__background {
      z-index: 0;
    }
  }

  &__card-container-cta {
    display: flex;
    justify-content: center;
    left: auto;
    position: absolute;
    text-align: center;
    top: 328px;
    width: 100%;
  }

  &__card-cta {
    left: 50%;
    position: absolute;
    top: -107px;
    transform: translateX(-50%);
    width: fit-content;

    .video__card-link {
      align-items: center;
      background-color: var(--color-forest-shade);
      border: none;
      border-radius: 24px;
      color: var(--color-white);
      cursor: pointer;
      display: flex;
      padding: 12px 20px 12px 11px;

      &:focus,
      &:active,
      &:hover {
        color: var(--color-renew);
      }

      img {
        height: 27px;
        width: 27px;
      }

      span {
        margin-left: 10px;
      }
    }
  }

  &__fact-container {
    display: none;
    transform: translateX(0);
  }

  &__card {
    color: var(--color-sand);
    background-color: var(--color-forest-shade);
    grid-column: 1/-1;
    margin-left: calc(var(--margin-mobile) * -1);
    padding: 72px 0 65px;
    text-align: center;
    width: calc(100% + (var(--margin-mobile) * 2));

    &-title {
      margin-bottom: 24px;
    }
  }

  &__content {
    grid-column: 1/-1;
  }

  @include from(tablet) {
    &__background {
      min-height: 576px;
    }

    &__card {
      margin-left: calc(var(--margin-tablet) * -1);
      padding-bottom: 72px;
      text-align: center;
      width: calc(100% + (var(--margin-tablet) * 2));
    }

    &__content {
      grid-column: 4/10;
    }

    &__card-container-cta {
      top: 504px;
    }

    &__fact-grid {
      grid-column: 4/10;
      margin-top: 0px;
      position: relative;
    }

    &__fact-container {
      display: block;
      margin-top: 64px;
    }
  }

  @include from(desktop) {
    .grid {
      grid-template-rows: 254px 380px 112px 202px;

      @media (prefers-reduced-motion: reduce) {
        transform: none !important;
      }
    }

    &[data-has-animation="false"] {
      .grid {
        grid-template-rows: 305px 337px 305px;
      }
    }

    &-wrapper {
      position: static;
    }

    &__card-cta-mobile {
      display: none;
    }

    &__background {
      min-height: 948px;
      position: absolute;
      z-index: -1;

      @media (prefers-reduced-motion: reduce) {
        object-position: 90% 50% !important;
      }
    }

    &__fact-grid {
      grid-column: 2/7;
      grid-row: 4/5;
      margin-top: 0px;
      position: relative;
    }

    &__fact-container {
      left: 0;
      margin-top: 0;
      position: absolute;
      top: 0;
    }

    &__card {
      background-color: transparent;
      grid-column: 7/12;
      grid-row: 2/3;
      height: inherit;
      margin-left: 0;
      position: relative;
      width: 100%;

      &--left {
        grid-column-start: 2;
        grid-column-end: 7;
      }

      &-title {
        margin-bottom: 16px;
      }

      &-paragraph {
        margin-bottom: 32px;
      }

      &-cta {
        cursor: pointer;
        display: inline-flex;
        left: 0;
        margin-top: 0;
        position: relative;
        top: 0;
        transform: translateX(0);

        .video__card-link {
          padding: 0;

          img {
            height: 20px;
            width: 20px;
          }
        }
      }
    }

    &__content {
      background-color: var(--color-forest-shade);
      border-radius: 32px;
      grid-column: 1/-1;
      left: 0;
      padding: 48px;
      position: absolute;
      text-align: left;
      top: 0;

      @media (prefers-reduced-motion: reduce) {
        transition: none;
      }
    }

    &[data-has-animation="false"] {
      .video__content {
        transform: translateX(0);

        &.slide_out {
          transform: translateX(-200%);
          transition: transform .5s cubic-bezier(.3,0,.73,.78);
        }
      }
    }
  }

  @include from(desktop-l) {
    .grid {
      grid-template-rows: 256px 414px 201px 200px;
    }

    &[data-has-animation="false"] {
      .grid {
        grid-template-rows: 341px 389px 341px;
      }
    }

    &__background {
      height: 1071px;
      z-index: -1;
    }

    &__fact-container {
      display: inline-flex;
      grid-column: 2/7;
      grid-row: 4/5;
      margin-top: 0px;
    }

    &__card {
      border-radius: 32px;
      grid-column: 8/12;
      grid-row: 2/3;
      text-align: left;
      
      &--left {
        grid-column-start: 2;
        grid-column-end: 6;
      }

      &-title {
        margin-bottom: 16px;
      }

      &-paragraph {
        margin-bottom: 32px;
      }
    }

    &__content {
      padding: 56px;
    }
  }
}
