// Please use css variables here.
:root {
  --color-blue: #1a73e8;
  --color-dark-blue: #185abc;
  --color-link-blue: #1967d2;
  --color-dark-green: #153522;
  --color-dark-grey: #423f3f;
  --color-dark-grey-second: #1b211d;
  --color-dark-sand: #f1efe6;
  --color-dark-sand-second: #faf8f0;
  --color-dark-ray: #d3f104;
  --color-drew: #8BF1CE;
  --color-footer-grey-second: #f8f9fa;
  --color-footer-grey-third: #dadce0;
  --color-footer-grey: #80868b;
  --color-forest-shade: #1b2f27;
  --color-forest: #305e4b;
  --color-form-placeholder: #cccccc;
  --color-google-800: #3c4043;
  --color-green-300: #E0EBD9;
  --color-green-400: #f8f9fb;
  --color-green-600: #1e8e3e;
  --color-green-700: #188038;
  --color-green-800: #137333;
  --color-green-900: #0d652d;
  --color-grey: #9aa0a6;
  --color-grey-100: #F2F3F5;
  --color-grey-700: #5f6267;
  --color-grey-900: #202124;
  --color-handraiser-dynamic: #305e4b;
  --color-light-ray: #e0ff0e;
  --color-light-blue: #8ab4f8;
  --color-light-pink: #FFBCB7;
  --color-ray: #e9fd60;
  --color-renew-tonal: rgba(0, 216, 99, 0.25);
  --color-renew: #00d863;
  --color-sand: #faf8ef;
  --color-shade: #121b17;
  --color-white: #fff;
  --color-black: #000000;
  --color-shadow-1: rgba(60, 64, 67, 0.15);
  --color-shadow-2: rgba(60, 64, 67, 0.3);
  --color-earth: #C0B9AD;
}
