:root {
  --margin-mobile: 16px;
  --margin-tablet: 32px;
  --header-mobile: 60px;
  --header-desktop: 80px;
}

/*
 * Use it as the base wrapper container for content.
 */
%container {
  margin: 0 var(--margin-mobile);

  @include upto(mobile) {
    margin: 0 #{var(--margin-mobile)/4};
  }

  @include from(tablet) {
    margin: 0 var(--margin-tablet);
  }

  @include from(desktop-xl) {
    margin: 0 auto;
    max-width: $desktop-l;
  }
}

.grid {
  @include grid(4, 12, 12);
}

.container {
  @extend %container;
}
